In [2]:
import os

import pandas as pd

In [3]:
input_path = 'C:/Users/mcca512/OneDrive - PNNL/McCann Documents/Other Projects/SAR Analyses'

df = pd.read_csv(os.path.join(input_path, 'returning_fish_unscreened.csv'))

In [4]:
df.head()

,rowid,PIT_ID,AT_ID,flag,screen,Species_Recode,Disposition,Release_Year,Detection_Type,Detection_DateTime,Location,Detection_Year,n_years,year_number,stage_site,fish_stage
0,3948,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,PIT,2006-05-22 19:45:07,BCC,2006,1,1,Juvenile_PIT,Juvenile
1,3948,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,AT,2006-05-22 19:45:07,BON_Cabled,2006,1,1,Juvenile_BON_Cabled,Juvenile
2,3949,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,AT,2006-05-22 19:45:07,BON_Cabled,2006,1,1,Juvenile_BON_Cabled,Juvenile
3,3950,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,AT,2006-05-22 19:45:07,BON_Cabled,2006,1,1,Juvenile_BON_Cabled,Juvenile
4,3951,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,AT,2006-05-22 19:45:07,BON_Cabled,2006,1,1,Juvenile_BON_Cabled,Juvenile

In [5]:
df.describe()

               rowid  Release_Year  Detection_Year       n_years   year_number
count   26494.000000  26494.000000    26494.000000  26494.000000  26494.000000
mean   179691.711331   2010.826300     2011.474145      1.717144      1.382653
std    135056.449804      2.144575        2.350226      0.641024      0.493137
min      3948.000000   2006.000000     2006.000000      1.000000      1.000000
25%     54107.250000   2009.000000     2009.000000      1.000000      1.000000
50%    144469.000000   2012.000000     2012.000000      2.000000      1.000000
75%    307733.750000   2012.000000     2014.000000      2.000000      2.000000
max    441332.000000   2018.000000     2019.000000      4.000000      3.000000

In [7]:
df.loc[df['Detection_Year'] == 2006]

,rowid,PIT_ID,AT_ID,flag,screen,Species_Recode,Disposition,Release_Year,Detection_Type,Detection_DateTime,Location,Detection_Year,n_years,year_number,stage_site,fish_stage
0,3948,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,PIT,2006-05-22 19:45:07,BCC,2006,1,1,Juvenile_PIT,Juvenile
1,3948,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,AT,2006-05-22 19:45:07,BON_Cabled,2006,1,1,Juvenile_BON_Cabled,Juvenile
2,3949,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,AT,2006-05-22 19:45:07,BON_Cabled,2006,1,1,Juvenile_BON_Cabled,Juvenile
3,3950,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,AT,2006-05-22 19:45:07,BON_Cabled,2006,1,1,Juvenile_BON_Cabled,Juvenile
4,3951,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,AT,2006-05-22 19:45:07,BON_Cabled,2006,1,1,Juvenile_BON_Cabled,Juvenile

In [8]:
df.head()

,rowid,PIT_ID,AT_ID,flag,screen,Species_Recode,Disposition,Release_Year,Detection_Type,Detection_DateTime,Location,Detection_Year,n_years,year_number,stage_site,fish_stage
0,3948,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,PIT,2006-05-22 19:45:07,BCC,2006,1,1,Juvenile_PIT,Juvenile
1,3948,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,AT,2006-05-22 19:45:07,BON_Cabled,2006,1,1,Juvenile_BON_Cabled,Juvenile
2,3949,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,AT,2006-05-22 19:45:07,BON_Cabled,2006,1,1,Juvenile_BON_Cabled,Juvenile
3,3950,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,AT,2006-05-22 19:45:07,BON_Cabled,2006,1,1,Juvenile_BON_Cabled,Juvenile
4,3951,3D9.1BF243B27B,G721007CF,Not Handled,OK,CH1,Fate_Returned_to_River,2006,AT,2006-05-22 19:45:07,BON_Cabled,2006,1,1,Juvenile_BON_Cabled,Juvenile